<aside class="sidebar">
  <h2 class="hidden-text">Perfil</h2>
  <div class="photo"></div>

  <nav class="menu-links">
    <a class="menu-item" routerLinkActive="active" routerLink="/profile/about">
      <span class="material-symbols-outlined"> inbox_text_person </span>
      <span class="label">Sobre</span>
    </a>
    <a class="menu-item" routerLinkActive="active" routerLink="/profile/photo">
      <span class="material-symbols-outlined"> photo_camera </span>
      <span class="label">Foto</span>
    </a>
    <a class="menu-item" routerLinkActive="active" routerLink="/profile/personal">
      <span class="material-symbols-outlined"> home_repair_service </span>
      <span class="label">Dados Pessoais</span>
    </a>
    <a class="menu-item" routerLinkActive="active" routerLink="/profile/settings">
      <span class="material-symbols-outlined"> settings </span>
      <span class="label">Configuração</span>
    </a>
  </nav>
</aside>
