<div class="page-container">
  <h2>Dados Pessoais</h2>
  <div class="form-card">
    <h2>Dados pessoais</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="name">Nome</label>
        <input id="name" type="text" placeholder="Nome completo" formControlName="name" />

        @if (name?.invalid && (name?.touched || name?.dirty)) {
          <div class="error">Nome é obrigatório</div>
        }
      </div>

      <div class="input-group">
        <label for="phone">Telefone</label>
        <input
          id="phone"
          type="text"
          placeholder="Telefone"
          formControlName="phone"
          (input)="onPhoneInput($event, 'phone')"
        />
      </div>

      <div class="input-group">
        <label for="whatsapp">Whatsapp</label>
        <input
          id="whatsapp"
          type="text"
          placeholder="WhatsApp"
          formControlName="whatsapp"
          (input)="onPhoneInput($event, 'whatsapp')"
        />
      </div>

      <button type="submit" [disabled]="form.invalid">Salvar</button>
    </form>
  </div>
</div>
