<nav class="menu">
  <div class="menu-container">
    <div class="logo">
      <span class="material-symbols-outlined"> auto_stories </span>
    </div>

    <div class="menu-links">
      <a routerLink="/dashboard" class="menu-item">
        <span class="material-symbols-outlined">analytics</span>
        <span class="label"> Dashboard</span>
      </a>

      <a class="menu-item">
        <span class="material-symbols-outlined">home_repair_service</span>
        <span class="label"> Serviços</span>
      </a>
      <a routerLink="/profile" class="menu-item">
        <span class="material-symbols-outlined">person</span>
        <span class="label"> Perfil</span>
      </a>
    </div>
  </div>
</nav>
